@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import 'reset';

$color-bg: #eee;
$color-bg-light: #fff;
$color-txt: #111;
$color-highlight: #fff99c;
$color-widget: #ddd;
$color-widget-border: #999;
$color-widget-border-light: #ccc;
$color-widget-hover: #eee;
$color-widget-active: #ccc;
$color-widget-focus: #ee3987;


body {
  background-color: $color-bg;
  color: $color-txt;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

::selection {
  background-color: $color-highlight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

@import 'components/app';
@import 'components/showcase';
@import 'components/button';
@import 'components/toolbar';
@import 'components/gadget';
@import 'components/menu';
@import 'components/dropdown';
@import 'components/console-form';
@import 'components/taglist';
@import 'components/modal';
